.collection {
}

.deck {
  border: 1px solid;
  padding: 7px 0;
  margin-bottom: 10px;
}

.deck-info {
  text-align: left;
  padding-left: 10%;
}

.deck-name {
  font-weight: bold;
}

.deck-actions {
  float: right;
}
